<script id="modal-template" type="text/x-handlebars-template">
<div id="modal" class="modal">
	<div class="modal-body">
		<h2>{{PatientUuid }}</h2>
		<p>{{description}}</p>
        <p>{{location_name}}</p>
        <p>{{address}}</p>
        <p>{{city}}</p>
        <p>{{state}}</p>
        <p>{{zip}}</p>
        <p>{{createdAt}}</p>
	</div>
</div>
</script>

<p><a href="#" data-behaviour="modal" data-title="1 title of modal" data-content="1 content goes here">Records here</a></p>

