<style>
  .uk-modal-body::-webkit-scrollbar{
     width: 0 !important;
  }
  .twitter-timeline::-webkit-scrollbar{
      width: 0 !important;
  }
</style>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

      <a class="uk-navbar-item uk-logo" href="/dashboard">betterHealth</a>

      <ul class="uk-navbar-nav">
        <li>
          <a>
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: table" uk-toggle="target: #offcanvas-nav"></span>
          </a>
        </li>
      </ul>
      <div class="uk-navbar-right">
        <form class="uk-search uk-search-default">
          <span class="uk-search-icon-flip" uk-search-icon></span>
          <input class="uk-search-input" type="search" placeholder="Search...">
        </form>
      </div>

    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <a href="/profile"><span class="uk-margin-small-right" uk-icon="icon: cog"></span></a>
        <div class="uk-width-auto">
          <img class="uk-border-circle" width="40" height="40" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-nav-header">Quick Menu</li>
              <li><a href="#modal-overflow" uk-toggle>View Messages</a></li>
              <li><a href="/holistics">Holistics</a></li>
              <li class="uk-nav-divider"></li>
              <li><a href="/profile">Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">

    <ul class="uk-nav uk-nav-default">
      <li class="uk-parent">
      <li class="uk-active"><a href="/dashboard">Overview</a></li>
      <ul class="uk-nav-sub">
        <li><a href="#bookApp" uk-toggle >Book Appointment</a></li>
        <li><a href="#medRec" uk-toggle >View Medical Record</a></li>
      </ul>
      </li>
      <li class="uk-nav-header">More</li>
      <li><a href="/holistics"><span class="uk-margin-small-right" uk-icon="icon: heart"></span> Holistics</a></li>
      <li><a href="#modal-overflow" uk-toggle><span class="uk-margin-small-right" uk-icon="icon: commenting"></span>
          Messages</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="/profile" class="usrNav"><img class="uk-border-circle" width="40" height="40" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg">
          Profile</a></li>
    </ul>

  </div>
</div>

<div class="container-fluid">
  <!-- Icon Cards-->
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-warning"><span class="uk-margin-small-right" uk-icon="icon: bolt; ratio: 1.5"></span>Book
            Appointment:</p>
          <p class="uk-text-meta uk-margin-remove-top">Book your next apppointment!</p>
        </div>
        <div class="uk-card-footer">
          <a href="#bookApp" uk-toggle class="uk-button uk-button-text">Book now</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-success"><span class="uk-margin-small-right" uk-icon="icon: heart; ratio: 1.5"></span>Holistics:</p>
          <p class="uk-text-meta uk-margin-remove-top">View diet plans.</p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-danger"><span class="uk-margin-small-right" uk-icon="icon: calendar; ratio: 1.5"></span>Next
            Appointment:</p>
          <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
        </div>
        <div class="uk-card-footer">
          <a href="#" class="uk-button uk-button-text">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="uk-card uk-card-default">
        <div class="uk-card-body">
          <p class="uk-text-primary"><span class="uk-margin-small-right" uk-icon="icon: commenting; ratio: 1.5"></span>Messages:</p>
          <p class="uk-text-meta uk-margin-remove-top">7 unread messages</p>
        </div>
        <div class="uk-card-footer">
          <a href="#modal-overflow" uk-toggle class="uk-button uk-button-text">Reply Now</a>
        </div>
      </div>
    </div>
  </div>


  {{!-- <!-- Book appointment - This is commented out because we are turning into modal -->
  <div class="row" id="bookApp" uk-toggle="cls: true">
    <div class="col-12">
      <div class="uk-card uk-card-default uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
        <h3 class="uk-card-title">Book Appointment</h3>
        <p>Fill out the form below to book your next appointment.</p>

        <form class="uk-grid-small" uk-grid>
          <div class="uk-width-1-1">
            <label class="uk-form-label" for="form-horizontal-select">Pick a Date:</label>
            <input type="text" data-uk-datepicker="{format:'DD.MM.YYYY'}">
          </div>
          <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">What is your appointment for?</label>
            <div uk-form-custom="target: > * > span:first-child">
              <select>
                <option value="">Please select...</option>
                <option value="Eye Exam">Eye Exam</option>
                <option value="Physical">Physical</option>
                <option value="Blood test">Blood Test</option>
              </select>
              <button class="uk-button uk-button-default" type="button" tabindex="-1">
                <span></span>
                <span uk-icon="icon: chevron-down"></span>
              </button>
            </div>
          </div>
          <div class="uk-width-1-1">
            <textarea class="uk-textarea" rows="5" placeholder="Additional comments"></textarea>
          </div>
          <p style="text-align: center;"><button class="uk-button uk-button-primary">Submit</button></p>
        </form>
      </div>
    </div>
  </div> --}}

  <br>
  <h3 style="text-align: center;">Health Updates from Twitter</h3>
  <br>

  <!-- Twitter grid -->
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div uk-slider>
        <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@m uk-grid">
          <li>
            <a class="twitter-timeline" data-height="3000" href="https://twitter.com/mnt?ref_src=twsrc%5Etfw">Tweets by
              mnt</a>
          </li>
          <li>
            <a class="twitter-timeline" data-height="3000" href="https://twitter.com/AmerMedicalAssn?ref_src=twsrc%5Etfw">Tweets
              by
              AmerMedicalAssn</a>
          </li>
          <li>
            <a class="twitter-timeline" data-height="3000" href="https://twitter.com/CDC_eHealth?ref_src=twsrc%5Etfw">Tweets
              by
              CDC_eHealth</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1"></div>
    <!-- JavaScript for Twitter -->
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>

<!-- Messaging Modal -->
<div id="modal-overflow" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Messages</h2>
    </div>

    <div class="uk-modal-body">

      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

        <ul class="uk-slider-items uk-grid">
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"></a>
          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.faceplusplus.com/images/comparing/left_pic_three.jpg"></a>
          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://do7nu6l5erzu3.cloudfront.net/wp-content/uploads/2018/02/06121555/Final_McCarthy.Steve_6170.jpg"></a>
          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://static1.squarespace.com/static/557ad98ae4b0ab127fdc5578/55db0d53e4b0d2c6e6e49370/55db0d54e4b035628e25ccee/1440419770528/celeb+junot+diaz.jpg?format=500w"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://static1.squarespace.com/static/557ad98ae4b0ab127fdc5578/55db0d53e4b0d2c6e6e49370/55db0d54e4b01430023945c0/1440419733335/celeb+aziz+ansari.jpg?format=500w"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://content.thriveglobal.com/wp-content/uploads/2018/11/145tjWrgMIkGlCER4qmIbpw.jpeg"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.landfood.ubc.ca/files/2018/04/sumeet-gulati-square-crop.jpg"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.thepolyglotgroup.com.au/wp-content/uploads/2018/05/Noemie.jpg"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://66.media.tumblr.com/2127e50b59be022677be2c64986a2d79/tumblr_inline_oh8lj0LaG81r5wc9c_500.jpg"></a>

          </li>
          <li>
            <a href="" uk-toggle="target: #msg"><img class="uk-border-circle" width="120" height="120" src="https://www.seattleu.edu/academics/DoQuyenPortrait_500x500.jpg"></a>

          </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

      </div>
    </div>
    <div class="row">
      <div class="uk-modal-body" uk-overflow-auto>
        <div class="col-xl-12 col-md-12 col-sm-12">
          <ul class="uk-comment-list" id="msg">
            <li>
              <article class="uk-comment uk-visible-toggle" tabindex="-1">
                <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                      <img class="uk-comment-avatar" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"
                        width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Dr.
                          Smith</a></h4>
                      <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12
                          days ago</a></p>
                    </div>
                  </div>
                  <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#reply">Reply</a></div>
                </header>
                <div class="uk-comment-body">
                  <p>What's up?</p>
                </div>
              </article>
              <ul>
                <li>
                  <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                      <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                          <img class="uk-comment-avatar" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg"
                            width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Me</a></h4>
                          <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                        </div>
                      </div>
                      <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                          href="#reply">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                      <p>Hey, Doc.</p>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="uk-comment uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                      <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                          <img class="uk-comment-avatar" src="https://www.anthonygold.co.uk/wp-content/uploads/2017/06/Lauren-McKie-BW-3-cropped.jpg"
                            width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Dr. Smith</a></h4>
                          <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                        </div>
                      </div>
                      <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                          href="#reply">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                      <p>Your updated X-Rays came in today. Book an appointment so we can talk
                        more
                        in depth.</p>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1">
                    <header class="uk-comment-header uk-position-relative">
                      <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                          <img class="uk-comment-avatar" src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg"
                            width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                          <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Me</a></h4>
                          <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                        </div>
                      </div>
                      <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted"
                          href="#reply">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                      <p>Ok, thank you for the update.</p>
                    </div>
                  </article>
                </li>
              </ul>
            </li>
            <form class="uk-search uk-search-navbar">
              <input class="uk-search-input" type="search" placeholder="Reply...">
            </form>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Med Record -->
<div class="container">
  <div class="row">
    <div class="ui basic button">Close Records</div>
  </div>
  <div class="row">
    <div class="ui items">
      <div class="item">
        <div class="ui tiny image">
          <img class="image" src="{{patient.image}}">
        </div>
        <div class="content">
          <a class="header">{{patient.first_name}} {{patient.last_name}}</a>
          <div class="description">
            <ul>
              <li>{{patient.street_address}}</li>
              <li>{{patient.city}}, {{patient.state}}, {{patient.zip}}</li>
              <li>{{patient.phone_number}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12" <table class="ui teal celled table">
      <thead>
        <tr>
          <th>Tests taken</th>
          <th>Status</th>
          <th>Results</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Blood test</td>
          <td>Pending</td>
          <td class="negative"><i class="icon close"></i>Unknown</td>
        </tr>
        <tr class="positive">
          <td>Health test</td>
          <td>Complete</td>
          <td class="positive"><i class="icon checkmark"></i>Within Range</td>
        </tr>
        <tr class="positive">
          <td>C-Reactive Protein</td>
          <td>Complete</td>
          <td class="negative"><i class="icon close"></i>Negative</td>
        </tr>
        <tr>
          <td>Hemoglobin A1C</td>
          <td>Scheduled</td>
          <td>Unknown</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>

  <!-- row -->
  <div class="row">
    <div class="eight wide column">
      <table class="ui teal celled table">
        <thead>
          <tr>
            <th>Allergy</th>
            <th>Severity</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lactose</td>
            <td>High</td>
            <td>None</td>
          </tr>
          <tr class="warning">
            <td>Penicillin</td>
            <td><i class="attention icon"></i> High</td>
            <td>None</td>
          </tr>
          <tr>
            <td>Pet Dander</td>
            <td>Low</td>
            <td class="warning"><i class="attention icon"></i>Has pets</td>
          </tr>
          <tr>
            <td>Peanuts</td>
            <td>Moderate</td>
            <td>None</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--column-->
    <div class="eight wide column">
      <table class="ui teal celled table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Procedure</th>
            <th>Reason for Procedure</th>
            <th>Provider</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>February 22, 2019</td>
            <td>Eye lasik</td>
            <td>Vision status</td>
            <td>Kaiser Permanente</td>
          </tr>
          <tr>
            <td>January 12, 2019</td>
            <td>X-Ray</td>
            <td>Pain in the right hand</td>
            <td>Kaiser Permanente</td>
          </tr>
          <tr>
            <td>May 15, 2018</td>
            <td>Biopsy</td>
            <td>Cyst found</td>
            <td>Kaiser Permanente</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/js/dashboard.js"></script>