{{!-- PROFILE PAGE --}}
<div class="container-fluid">
    <h1 id="profile">Profile</h1>
    <div class="row">
        <div class="col-xl-3 col-sm-0 col-md-0"></div>
        <div class="col-xl-6 col-sm-6 col-md-12">
            <article class="uk-comment uk-comment-primary">
                <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        {{!-- <img class="uk-comment-avatar"
                            src="https://bestoftool.com/wp-content/uploads/2018/06/Anonymous-Whatsapp-profile-picture-1.jpg"
                            width="80" height="80" alt=""> --}}
                    </div>
                    <div class="uk-width-expand">
                        <h2 class="uk-margin-remove" id="firstlast">
                            <p>Welcome, {{first_name}} {{last_name}}!</p>
                        </h2>
                    </div>
                </header>
            </article>
            <br>
            <article class="uk-comment uk-comment-primary">
                <div class="uk-comment-body">
                    <dl class="uk-description-list uk-description-list-divider" id="ghapidata">
                        <dt class="info">Username:</dt>
                        <dd class="respose" id="user">{{username}}</dd>
                        <dt class="info">Email:</dt>
                        <dd class="respose" id="email">{{email}}</dd>
                        <dt class="info"> Phone: </dt>
                        <dd class="response" id="phone">{{phone}}</dd>
                        <dt class="info">Address:</dt>
                        <dd class="response" id="address">{{address}}</dd>

                    </dl>

                </div>

            </article>
            <br>
            <div class="row">
                <div class="col-xl-3 col-sm-0 col-md-0"></div>

                <div class="col-xl-6 col-sm-6 col-md-12">
                    <article class="uk-comment uk-comment-primary">
                        <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <div class="uk-width-expand"></div>
                                <a href="#" id="username">Edit your profile</a>
                            </div>
                    </article>
                </div>
            </div>

            <div class="col-xl-3 col-sm-0 col-md-0"></div>
        </div>
    </div>
    <br><br><br>